body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 750px;
    max-width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px; /* פינות מעוגלות */
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    direction: rtl;
    z-index: 1;
}

/* עיצוב התמונה */
.login-container img {
    max-width: 280px;
    max-height: 280px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

.login-container img:hover {
    transform: scale(1.1);
}

/* עיצוב כותרת */
h2 {
    font-size: 36px;
    color: #d32f2f;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 35px;
}

.form-label-right {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 20px;
    font-size: 28px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 25px;
    height: 70px;
    direction: ltr;
    text-align: left;
}

input[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

input:focus {
    border-color: #d32f2f;
    outline: none;
}

button.submit-button {
    padding: 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

button.submit-button:hover {
    background-color: #b71c1c;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 18px;
}

.extra-options {
    margin-top: 40px;
    text-align: center;
}

.extra-options a {
    color: #d32f2f;
    text-decoration: none;
    font-weight: bold;
}

.extra-options a:hover {
    text-decoration: underline;
}


/* התאמות למסכים קטנים */
@media (max-width: 480px) {
    body {
        background-position: top center; /* שינוי מיקום הרקע במסכים קטנים */
    }

    .login-container {
        max-width: 90%;
        padding: 30px;
    }

    input, button.submit-button {
        font-size: 18px;
    }
}

